.detils-sidebar {
    overflow-y: hidden; /* Hide vertical scrollbar */
  }
  .invoice-summary {
    text-align: left;
    margin: 1rem 0;
  }
  
  .invoice-summary .invoice-msg {
    margin: 0;
    font-size: 1rem;
    color: #555;
  }
  
  .invoice-summary .invoice-greeting {
    margin: 0.25rem 0 0.75rem;
    font-size: 1.5rem;
  }
  
  .invoice-summary .invoice-text {
    margin: 0;
    line-height: 1.4;
    font-size: 1rem;
  }
  
  .invoice-summary .invoice-amount {
    margin: 0.5rem 0 0;
    font-size: 2rem;
    font-weight: bold;
    color: #e33737;
  }
  
/* “Need Assistance?” styling */
.assistance-hr {
  margin: 1rem 0 0.5rem;  /* some space above and below */
  border: 1px solid #e33737; /* match the red line used above */
}

.assistance-heading {
  /* margin-top: 15px; */
  font-size: 1rem;
  color: #000;
}

.contact-link {
  display: block;
  margin-top: 7px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
  text-decoration: none;
}