<div class="login-page">
  <div class="login-tag">BeYour<br />OwnBoss</div>

  <div class="login-content">
    <div class="logo">
      <a href="#">
        <img
          src="https://res.cloudinary.com/dvekmmxxx/image/upload/v1718347384/photo_2024-06-14_11-46-14-removebg-preview_bml8en.png"
          alt="Logo"
          class="d-block"
        />
      </a>
    </div>

    <!-- 1) EMAIL FORM (to request a password reset link) -->
    <div *ngIf="showEmailForm">
      <h2>Forgot Your Password?</h2>
      <p>Enter your email address to receive a reset link.</p>
      <div class="login-label">
        <span>RESET PASSWORD WITH EMAIL</span>
      </div>

      <form [formGroup]="resetRequestForm" (ngSubmit)="requestResetLink()">
        <div class="form-field">
          <input
            style="width: 100%;"
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Email address"
          />
        </div>

        <button
          type="submit"
          style="color: #ffffff !important; background-color: #ff0000;"
          class="btn w-100 mt-4"
        >
          SEND RESET LINK
        </button>
      </form>
    </div>

 
 
  </div>
</div>
