<body class="pt-0">
    <section class="login_section">
        <div class="wrapper position-relative">
          <div class="logo">
            <img src="assets/customer_protal/images/vz-logo.png" style="max-width: 21%;" alt="" class="d-md-block d-none">
          </div>
          <div class="row align-items-center g-lg-0 g-md-4 g-0 h-100">
            <div class="col-md-6 position-relative h-100 order-md-0 order-1">
              <div class="image">
                <picture>
                  <source media="(max-width: 767px)" srcset="assets/customer_protal/images/login_img_sm.jpg">
                  <img loading="lazy" src="assets/customer_protal/images/login_img.jpg" alt="Prime Services" title="Prime Services">
                </picture>
                <h1>#BeYourOwnBoss</h1>
              </div>
            </div>
            <div class="col-md-6 h-100">
              <div class="form_wrp">
                <h2>Forgot Password <br class="d-none d-md-block"> </h2>
                <p *ngIf="savedEmail">Confirm your email address</p>
                <p *ngIf="!savedEmail">Enter your email address</p>
                <form  (ngSubmit)="submit()" [formGroup]="forgotPasswordForm">
                  <div class="form-field">
                    <input type="email" class="form-control" formControlName="email" placeholder="Email address" required>
                  </div>
                 
                  <button type="submit" style="position: relative;" class="btn w-100">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>