<div class="login-page">
    <div class="login-tag">BeYour<br />OwnBoss</div>
    <div class="login-content">
      <div class="logo">
        <a href="#">
          <img
            src="https://res.cloudinary.com/dvekmmxxx/image/upload/v1718347384/photo_2024-06-14_11-46-14-removebg-preview_bml8en.png"
            alt="Logo"
            class="d-block"
          />
        </a>
      </div>
      <div *ngIf="showEmailForm">
      <h2>Sign In to Your <br />Account</h2>
       
          <p>Enter your email address.</p>
          <div class="login-label">
            <span>LOGIN WITH EMAIL</span>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="form-field">
              <input
                style="width: 100%;"
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Email address"
              />
            </div>

            <button
              type="submit"
              style="color: #ffffff !important; background-color: #ff0000;"
              class="btn w-100 mt-4"
            >
              NEXT
            </button>
          </form>
        </div>


       <!-- NEW PASSWORD FORM (Visible after OTP verification) -->
      <div *ngIf="showNewPasswordForm">
        <h2>Please Enter New Password</h2>
        <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword()">
          <div class="form-field" style="position: relative;">
            <input
            [type]="passwordVisible ? 'text' : 'password'"
              class="form-control"
              formControlName="newPassword"
              placeholder="New Password"
              required
            />
            <span class="eye-icon" (click)="togglePasswordVisibility()" >
              <i class="fas" [ngClass]="passwordVisible ?  'fa-eye' : 'fa-eye-slash' "></i>
            </span>
          </div>
          <div class="form-field" style="position: relative;">
            <input
            [type]="passwordVisible2 ? 'text' : 'password'"
              class="form-control"
              formControlName="confirmPassword"
              placeholder="Confirm New Password"
              required
            />
            <span class="eye-icon" (click)="togglePasswordVisibility2()" >
              <i class="fas" [ngClass]="passwordVisible2 ?  'fa-eye' : 'fa-eye-slash' "></i>
            </span>
          </div>
          <button
            type="submit"
            style="color: #ffffff !important; background-color: #ff0000;"
            class="btn w-100 mt-4"
          >
            SUBMIT
          </button>
        </form>
      </div>  
    </div>
  </div>


  


  <!-- OTP Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{ 'show d-block': showOtpModal }" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content border border-primary rounded-3 shadow-lg">
        <div class="modal-header">
          <h5 class="modal-title">Enter the OTP sent to your email address</h5>
          <button type="button" class=" btn-close  fs-6 p-1" (click)="closeOtpModal()">
            <span></span>
          </button>
        </div>
        <div class="modal-body">
            <div class="modal-body d-flex justify-content-center gap-2">
                <input 
                  *ngFor="let digit of otp; let i = index"
                  #otpInput
                  type="text"
                  class="otp-input text-center border border-secondary rounded-2 p-2"
                  maxlength="1"
                  autocomplete="off"
                  [[(ngModel)]="otp[i]"
                  (input)="handleInput($event, i)"
                  (keydown)="handleBackspace($event, i)"
                />
              </div>
              
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit"
          style="color: #ffffff !important; background-color: #ff0000; border-radius: 10px; height: 46px; font-size: medium;"
          class="btn w-100 mt-4" (click)="verifyOtp()">SUBMIT</button>
        </div>
      </div>
    </div>
  </div>
  
