<div class="content">
    <div class="page-heading" style="margin: 20px; margin-top: 25px;">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto mb-2">
              <h2>Payment Mode Management</h2>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto mb-2">
              <div class="form-field page-heading-search-field mb-0">
                <div class="field-icon">
                  <input
                    type="text"
                    class="form-control form-control-sm form-control-shadow"
                    placeholder="Search..."
                  />
                  <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive overflow-behaviour">
      <table class="table table-list-data table-hover">
        <thead class="bg-light">
          <tr>
            <th scope="col">{{ "Payment Mode" }}</th>
            <th scope="col">{{ "Status" }}</th>
            <th scope="col">{{ "Updated On" }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Stripe</td>
            <td>
              <div class="form-check form-switch form-switch-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="Status_id1"
                  checked
                />
              </div>
            </td>
            <td>2024-10-01</td>
          </tr>
          <tr>
            <td>Magnati</td>
            <td>
              <div class="form-check form-switch form-switch-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="Status_id2"
                />
              </div>
            </td>
            <td>2024-10-05</td>
          </tr>
          <!-- <tr>
            <td>Bank Transfer</td>
            <td>
              <div class="form-check form-switch form-switch-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="Status_id3"
                  checked
                />
              </div>
            </td>
            <td>2024-10-10</td>
          </tr> -->
        </tbody>
      </table>
    </div>
    
  </div>
  