
<app-sidebar></app-sidebar>
         
<div class="details-content">
    <div class="container">
        <div class="pm-submit-info text-center">
            <div class="icon">
                <img src="assets/images/document-submited.png" class="d-block mx-auto"/>
            </div>
            <h3 style="font-size: 20px;">Please visit the Virtuzone Sales Office  <br> to complete your payment !</h3>
            <!-- <h5>Your sales agent will contact you shortly!</h5> -->
            <hr/>
            <!-- <div class="text-center mt-5">
                <a href="#" class="btn btn-success">Great, thanks!</a>
            </div> -->

        </div>
    </div>
       
    <app-user-footer></app-user-footer>
    
</div>