<!-- <app-sidebar></app-sidebar> -->
         
<div class="details-content">
    <div class="container">
        <!-- <h2 class="bg-title mb-md-5"><span>Card Machine</span></h2> -->
           
           
    <!-- <div class="accordion accordion-style-1" id="accordionExample" *ngFor="let accountDetail of accountDetails">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                VZ Bank Account details:
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              
                <div class="dtc-item">
                    <h4>Bank Name:</h4>
                    <p>{{ accountDetail.bank_name }}</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="dtc-item">
                            <h4>Account Name:</h4>
                            <p>{{ accountDetail.account_name }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dtc-item">
                            <h4>IBAN NUMBER:</h4>
                            <p>{{ accountDetail.iban_number }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dtc-item">
                            <h4>Account Number:</h4>
                            <p>{{ accountDetail.account_number }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="dtc-item">
                            <h4>Swift Code:</h4>
                            <p>{{ accountDetail.swift_code }} </p>
                        </div>
                    </div>
                </div>
                <div class="dtc-item">
                    <h4>Bank Address:</h4>
                    <p>{{ accountDetail.bank_address }}</p>
                </div>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Upload the ATM Deposit Slip <span class="label">Upload</span>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            
            <div class="aymdepositslip-wrap">
                <div class="uploaddocument-item">
                    <div class="icon">
                        <img src="assets/images/cheque-deposit-icon.svg" alt=""/>
                    </div>
                    <h4>Upload the Card Machine Slip</h4>
                    <label for="fileInput" style="cursor: pointer;">
                    <a class="btn">Upload</a>
                </label>
                <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;" #fileInput />
                </div>
                <div class="text-center mt-5">
                    <span *ngFor="let document of uploadedDocuments; let last = last">
                        {{ document }}{{ last ? "" : ", " }}
                      </span>
                    <form (submit)="submitForm()">
                         Form for uploading the ATM deposit slip -->
                        <!-- <button type="submit" class="btn btn-success">Submit</button> -->
                      <!-- </form> -->
                   
                <!-- </div> -->
            <!-- </div> -->



          <!-- </div> -->
        <!-- </div> -->


      <!-- </div> -->
      <!-- <div class="pmnotes d-md-flex align-items-center px-3 text-center"> -->
          <!-- <label>Note:</label> -->
          <!-- To view nearest <b>&nbsp; ADCB ATM &nbsp; </b> location(s) around you <a href="https://www.adcb.com/en/ways-to-bank/atm-and-branches/" target="_blank" class="ms-auto">Click Here</a> -->
      <!-- </div> --> 

      <h2 class="bg-title mb-md-5"><span>Card Machine</span></h2>  
      <div class="office-center-wrap text-center">
          <h3>Virtuzone Office Address</h3>
          <a  style="text-decoration: none; color: #000" target="_blank" href="https://maps.app.goo.gl/pcXPPboprL57vCGq5">
          <div class="officecebter-box" style="background-image: url('images/office-center-bg.jpg');">
         
              <div class="icon">
                  <svg width="19" height="26" viewBox="0 0 19 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M9.07407 0C4.05741 0 0 4.05741 0 9.07407C0 15.8796 9.07407 25.9259 9.07407 25.9259C9.07407 25.9259 18.1481 15.8796 18.1481 9.07407C18.1481 4.05741 14.0907 0 9.07407 0ZM2.59259 9.07407C2.59259 5.4963 5.4963 2.59259 9.07407 2.59259C12.6519 2.59259 15.5556 5.4963 15.5556 9.07407C15.5556 12.8074 11.8222 18.3944 9.07407 21.8815C6.37778 18.4204 2.59259 12.7685 2.59259 9.07407Z" fill="black"/>
                      <path d="M9.07466 12.3147C10.8645 12.3147 12.3154 10.8638 12.3154 9.07399C12.3154 7.28418 10.8645 5.83325 9.07466 5.83325C7.28485 5.83325 5.83392 7.28418 5.83392 9.07399C5.83392 10.8638 7.28485 12.3147 9.07466 12.3147Z" fill="black"/>
                  </svg>
              </div>
              <p>Office 404, Building B, Al Saaha Offices, Souk Al bahar Old Town Island. Burj Khalifa District</p>
          </div>
          <div class="pmnotes align-items-center px-3 text-center">
            <!-- <label>Note: </label> -->
           <strong>Note:</strong> Please visit the Virtuzone Sales office for payment completion and mention your Proforma Invoice Number to the front desk. For assistance, contact your sales agent.

        </div>

          <div class="text-center mt-5">
        </div>
    </a>
    <a (click)="goBack()"  class="btn btn-success">Back</a>
      </div>

    </div>
      
    <!-- <app-user-footer></app-user-footer> -->

</div>


