.required {
    color: red;
    font-weight: bold;
    margin-left: 5px;
  }


  /* Search Country left alignment */
  ::ng-deep #country-search-box {
    padding-left: 18px !important;
    
  }

/* Loader Container */
.loader-container {
  position: fixed; /* Covers the whole viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
  z-index: 9999; /* Ensures it stays on top of other elements */
}

/* Loader Styles */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #FF5A5F; /* Starting color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 10px; /* Adds space between the loader and text */
}

/* Spin Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top-color: #FF5A5F;
  }
  50% {
    border-top-color: #9B51E0; /* Transition color */
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #FF5A5F;
  }
}

/* Text Styles */
.loader-text {
  font-size: 18px;
  color: #333; /* Dark text color */
  font-weight: 600;
}

input[readonly] {
  cursor: pointer;
  background-color: #f9f9f9;
}
