.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th,
.product-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.currency {
  text-align: right;
  padding-right: 20px; /* Add extra padding to separate currency values */
}

.product-table th {
  font-weight: bold;
}

.product-table thead th {
  border-bottom: 2px solid #333;
}

.product-table tbody tr:hover {
  background-color: #f9f9f9; /* Highlight row on hover */
}


.right-align {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
