.required {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}


.shareholder-row {
  display: flex;
  gap: 20px; /* Space between the two fields */
  flex-wrap: wrap; /* Allows wrapping if the screen is too narrow */
}

.form-field {
  flex: 1; /* Each field takes up equal space */
  min-width: 200px; /* Minimum width to prevent fields from getting too small on narrow screens */
}

ul {
  margin-top: 8px;
  padding-left: 16px;
  list-style: none;
}

ul li::before {
  content: "• ";
  color: #333;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 4px;
}
