
      
<app-sidebar></app-sidebar>
         
<div class="details-content">
    <div class="container">
        <div class="pm-submit-info text-center">
            <div class="icon">
                <img src="../../assets/images/processing.png" class="d-block mx-auto"/>
            </div>
            <h3>Processing Approval</h3>
            <h5><strong>Your application has been submitted!</strong> <br/> <br/> Thank you for submitting your details. We have forwarded your information to our sales team, and they will be in touch with you shortly.
               </h5>
            
            
           

        </div>
    </div>
    <div class="details-footer">
        
       

    
            <app-user-footer></app-user-footer>
       
    </div>
</div>


