
      
<app-sidebar></app-sidebar>
         
<div class="details-content">
    <div class="container">
        <div class="pm-submit-info text-center">
            <div class="icon">
                <img src="../../assets/images/processing.png" class="d-block mx-auto"/>
            </div>
            <h3>Processing Approval</h3>
            <h5>Your application is in approval Process. Once approved, you will receive an e-mail confirmation.<br/>
                {{!reason?"Please try again later.":''}}</h5>
            <h5 *ngIf="reason"><b>Reason:</b> {{reason}}</h5>
            <hr/>
           

        </div>
    </div>
    <div class="details-footer">
        
       

    
            <app-user-footer></app-user-footer>
       
    </div>
</div>


