<div class="content">
  <div class="page-heading">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto mb-2">
            <h2>Virtual Management</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="table-responsive overflow-behaviour">
    <table class="table table-list-data table-hover">
      <thead class="bg-light">
        <tr>
          <th scope="col">Client Name</th>
          <th scope="col">Email</th>
          <th scope="col">Company</th>
          <th scope="col">Incorporation Country</th>
          <th scope="col">Shareholder Count</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Actions</th>
          <th scope="col">Match Score &#x2191;&#x2193;</th>
          <th scope="col">Action &#x2191;&#x2193;</th>
         
          <th scope="col">KYC Status &#x2191;&#x2193;</th>
          <th scope="col">View File &#x2191;&#x2193;</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientList">
          <td>{{ client.leadWithDetails.FirstName }} {{ client.leadWithDetails.LastName }}</td>
          <td>{{ client.leadWithDetails.Email }}</td>
          <td>{{ client.userDetails.CompanyName }}</td>
          <td>{{ client.userDetails.CompanyIncorporated }}</td>
          <td>{{ client.userDetails.shareholdercount }}</td>
          <td>{{ client.userDetails.mobileNumber.internationalNumber }}</td>

          <td>
            <button (click)="openClientDetails(client.shareholders)" class="btn btn-primary" style="text-wrap: nowrap; overflow: hidden;">View Shareholders</button>
          </td>
          <td>{{ client.screeningDetails?.matchScore }}</td>
          <td>
            <button class="green-button" (click)="checkStatus(client)" [disabled]="loadingStatuses[client.leadWithDetails.LeadId]">
              <ng-container *ngIf="!loadingStatuses[client.leadWithDetails.LeadId]">Check Status</ng-container>
              <ng-container *ngIf="loadingStatuses[client.leadWithDetails.LeadId]">
                <span class="spinner-border spinner-border-sm"></span> Loading...
              </ng-container>
            </button>
          </td>
          <td>{{ client.CustomerStatus }}</td>
          <td>
            <button class="green-button" (click)="openFileModal(client.additionalUploadedFiles)">
              View Files
            </button>
          </td>
          
          
        </tr>
      </tbody>
    </table>
  </div>
 
  <!-- Modal for Shareholder Details -->
  <div class="modal-container" *ngIf="showModal">
    <div class="modal-backdrop" (click)="closeModal()"></div>
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <h5 class="modal-title">Shareholder Details</h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Shareholder Name</th>
            <th scope="col">Shareholder (%)</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Nationality</th>
            <th scope="col">Files</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of selectedClientDetails">
            <td>{{ detail.name }}</td>
            <td>{{ detail.shareholderPercentage }}%</td>
            <td>{{ detail.dob | date: 'yyyy-MM-dd' }}</td>
            <td>{{ detail.nationalityshareholder }}</td>
            <td>
              <div *ngIf="detail.files && detail.files.length > 0; else noFile">
                <div *ngFor="let file of detail.files">
                  <a [href]="file.url" target="_blank">
                    <img [src]="file.url" alt="{{ file.name }}" width="50" height="50" style="object-fit: cover; margin-right: 5px;" />
                  </a>
                </div>
              </div>
              <ng-template #noFile>
                <span>No file</span>
              </ng-template>
            </td>
           
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-container" *ngIf="showFileModal">
    <div class="modal-backdrop" (click)="closeFileModal()"></div>
    <div class="modal-content">
      <span class="close-btn" (click)="closeFileModal()">&times;</span>
      <h5 class="modal-title">Uploaded Files</h5>
      <div *ngIf="selectedFiles.length > 0; else noFiles">
        <div class="file-list">
          <div class="file-item" *ngFor="let file of selectedFiles">
            <div class="file-details">
              <p class="file-name"><strong>Name:</strong> {{ file.name }}</p>
              <p class="file-type"><strong>Type:</strong> {{ file.type }}</p>
            </div>
            <div class="file-actions">
              <a [href]="file.url" target="_blank" class="view-link">View File</a>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noFiles>
        <p class="no-files">No files available for this client.</p>
      </ng-template>
    </div>
  </div>
  

</div>
 
 