<!-- Red Loader -->
<div *ngIf="isLoading" class="red-loader">
  <div class="red-spinner"></div>
</div>
 
<div class="content">
  <div class="page-heading">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto mb-2">
            <h2>Virtual Management</h2>
          </div>
          <div class="search-container mt-3">
            <input type="text" placeholder="Search..." [(ngModel)]="searchTerm">
            <button class="search-button" (click)="onSearch()"><i class="fas fa-search"></i> SEARCH</button>
            <div class="date-filter-container">
              <input type="date" placeholder="From Date" [(ngModel)]="fromDate">
              <input type="date" placeholder="To Date" [(ngModel)]="toDate">
              <button class="filter-button" (click)="onDateFilter()">FILTER BY DATE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
   <!-- Table Displaying Virtual Management Clients -->
   <div class="table-responsive overflow-behaviour">
    <table class="table table-list-data table-hover">
      <thead class="bg-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number &#x2191;&#x2193;</th>
          <th scope="col">Quote Payment ID &#x2191;&#x2193;</th>
          <!-- <th scope="col">Employment Status</th> -->
          <!-- <th scope="col">Salary</th> -->
          <!-- <th scope="col">Bank Type</th> -->
          <th scope="col">Compliance Score</th>
          <th scope="col">Compliance Status</th>
          <th scope="col">View Products</th>
          <th scope="col">View Documents</th>
          <th scope="col">Shareholder</th>
        </tr>
      </thead>
     
      <tbody>
        <tr *ngFor="let client of filteredClientList">
          <td>{{ client.leadWithDetails.FirstName }} {{ client.leadWithDetails.LastName }}</td>
          <td>{{ client.leadWithDetails.Email }}</td>
          <td>{{ client.leadWithDetails.Phone }}</td>
          <td>{{ client.quotePaymentWithDetails.QuotePaymentId }}</td>
          <!-- <td>{{ client.userDetails?.EmploymentStatus || 'N/A' }}</td> -->
          <!-- <td>{{ client.userDetails?.salary || 'N/A' }}</td> -->
          <!-- <td>{{ client.userDetails?.bankType || 'N/A' }}</td> -->
          <td>{{ client.screeningDetails?.matchScore !== null && client.screeningDetails?.matchScore !== undefined ? client.screeningDetails.matchScore : 'N/A' }}</td>
          <td>{{ client.kycStatus || 'N/A' }}</td>
          <td>
            <button class="green-button" (click)="openProductModal(client)">View Products</button>
           
          </td>
          <td>
            <button class="green-button" (click)="openDocumentModal(client)">View Documents</button>            
          </td>
          <td>
            <button class="green-button" (click)="openClientDetails(client.shareholders)">
              View Shareholders
            </button>
          </td>
        </tr>
      </tbody>
     
    </table>
  </div>
 
  <!-- Pagination Controls -->
  <nav *ngIf="totalPages > 1" class="d-flex justify-content-end mt-3">
    <ul class="pagination custom-pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"
          *ngFor="let page of [].constructor(totalPages); let i=index"
          [class.active]="(i+1) === currentPage">
        <a class="page-link" (click)="goToPage(i+1)">{{ i+1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
 
 
 
  <div *ngIf="showProductModal" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Products</h3>
        <span class="close-btn" (click)="closeProductModal()">&times;</span>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of selectedProducts">
              <td>{{ product.productName }}</td>
              <td>{{ product.productQuantity }}</td>
              <td>{{ product.productUnitPrice }}</td>
              <td>{{  product.total || (product.productUnitPrice * (product.productQuantity || product.productQunatity))   | number:'1.0-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <p>Total Amount: <strong style="font-weight: bold; color: rgb(235, 55, 55);margin: 0px 10px 0px 5px;">{{ salesforceResponseMatchScreening?.subTotal | number:'1.0-2' }}</strong></p>
        <p>Total VAT: <strong style="font-weight: bold; color: rgb(235, 55, 55); margin: 0px 10px 0px 5px;"> {{
          (salesforceResponseMatchScreening?.totalIncludingVAT -
           salesforceResponseMatchScreening?.subTotal) | number:'1.0-2'
        }}</strong></p>
        <p>Total Including VAT: <strong style="font-weight: bold; color: rgb(235, 55, 55); margin: 0px 10px 0px 5px;">  {{ salesforceResponseMatchScreening?.totalIncludingVAT | number:'1.0-2' }} </strong></p>
      </div>
    </div>
  </div>
 
  <!-- Documents Modal -->
  <div *ngIf="showDocumentModal" class="modal-overlay">
    <div class="modal-content" style="width: 50% !important;">
      <div class="modal-header">
        <h3 class="modal-title">Documents</h3>
        <span class="close-btn" (click)="closeDocumentModal()">&times;</span>
      </div>
      <div class="modal-body">
        <ul class="file-list">
          <li *ngFor="let document of selectedDocuments" class="file-item">
            <div class="file-details">
              <span class="file-type">Document</span>
              <p class="file-name">{{ document.name }}</p>
            </div>
            <a [href]="document.url" target="_blank" class="view-link">View</a>
          </li>
          <li *ngIf="!selectedDocuments.length" class="no-files">No documents available</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="green-button" (click)="closeDocumentModal()">Close</button>
      </div>
    </div>
  </div>
  <!-- Modal for Shareholder Details -->
  <div  class="modal-overlay" *ngIf="showModal">
    
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Shareholder Details</h5>
      <span class="close-btn" (click)="closeModal()">&times;</span>
      </div>
      <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Shareholder Name</th>
            <th scope="col">Shareholder (%)</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Nationality</th>
            <th scope="col">Files</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of selectedClientDetails">
            <td>{{ detail.name }}</td>
            <td>{{ detail.shareholderPercentage }}%</td>
            <td>{{ detail.dob | date: 'yyyy-MM-dd' }}</td>
            <td>{{ detail.nationalityshareholder }}</td>
            <td>
              <div *ngIf="detail.files && detail.files.length > 0; else noFile">
                <div *ngFor="let file of detail.files">
                  <a [href]="file.url" target="_blank" class="view-link">View file</a>
                </div>
              </div>
              <ng-template #noFile>
                <span>No file</span>
              </ng-template>
            </td>
           
           
          </tr>
        </tbody>
      </table>
     <div *ngIf="!selectedClientDetails.length" class="no-files">No shareholders available</div>
    </div>
      <div class="modal-footer">
        <button class="green-button" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
 
  <div class="modal-container" *ngIf="showFileModal">
    <div class="modal-backdrop" (click)="closeFileModal()"></div>
    <div class="modal-content">
      <span class="close-btn" (click)="closeFileModal()">&times;</span>
      <h5 class="modal-title">Uploaded Files</h5>
      <div *ngIf="selectedFiles.length > 0; else noFiles">
        <div class="file-list">
          <div class="file-item" *ngFor="let file of selectedFiles">
            <div class="file-details">
              <p class="file-name"><strong>Name:</strong> {{ file.name }}</p>
              <p class="file-type"><strong>Type:</strong> {{ file.type }}</p>
            </div>
            <div class="file-actions">
              <a [href]="file.url" target="_blank" class="view-link">View File</a>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noFiles>
        <p class="no-files">No files available for this client.</p>
      </ng-template>
    </div>
  </div>
 
 
 
</div>