<div class="content">
  <div class="page-heading">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto mb-2">
            <h2>Services</h2>
          </div>
          <div class="col-auto mb-2">
            <a class="btn btn-sm btn-light-primary" (click)="openAddModal()">
              <i class="fa-solid fa-plus"></i> New Service
            </a>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto mb-2 mt-2">
            <div class="form-feild page-heading-search-field mb-0">
              <div class="field-icon">
                <input
                  type="text"
                  class="form-control form-control-sm form-control-shadow"
                  placeholder="Search..."
                />
                <div class="icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive overflow-behaviour">
    <table class="table table-list-data table-hover">
      <thead class="bg-light">
        <tr>
          <th scope="col"><b>Service Name</b> &#x2191;&#x2193;</th>
          <th scope="col"><b>Description</b> &#x2191;&#x2193;</th>
          <th scope="col"><b>Status</b> &#x2191;&#x2193;</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through services and display them in the table -->
        <tr *ngFor="let service of services">
          <td>{{ service.serviceName }}</td>
          <td>{{ service.description }}</td>
          <td>
            <div class="form-check form-switch form-switch-2">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="status_{{ service._id }}"
                [checked]="service.isActive"
              />
            </div>
          </td>
          <td class="text-end td-action-data">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu custom-dropdown">
                <li>
                  <button class="dropdown-item custom-dropdown-item cursor-pointer" (click)="openEditModal(service)">Edit</button>
                </li>
                <!-- <li>
                  <a class="dropdown-item custom-dropdown-item cursor-pointer">View</a>
                </li> -->
                <li>
                  <button class="dropdown-item custom-dropdown-item cursor-pointer" (click)="deleteService(service._id)">Delete</button>
                </li>
              </ul>
              
              
              
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal Popup -->
<div class="modal-container" *ngIf="isEditModalOpen">
  <div class="modal-backdrop" (click)="closeEditModal()"></div>
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Edit Service</h5>
    <button
        type="button"
        class="btn-close"
        (click)="closeEditModal()"
        aria-label="Close"
      ></button>
    </div>
    <form [formGroup]="editServiceForm">
      <div class="form-group" style="padding: 6px 15px;">
        <label for="serviceName" class="form-label">Service Name</label>
        <input type="text" id="serviceName" class="form-control" formControlName="serviceName">
      </div>
      <br>
      <div class="form-group" style="padding: 6px 15px;">
        <label for="description" class="form-label">Description</label>
        <input type="text" id="description" class="form-control" formControlName="description">
      </div>
  <br>
 
 
      <div class="form-group form-switch" style="padding: 6px 15px; display: flex; align-items: center;">
       
        <label for="isActive" class="form-check-label">Is Active</label>
        <input type="checkbox" id="isActive" class="form-check-input ms-4" formControlName="isActive">
      </div>
      <br>
      
      <!-- <div class="form-group">
        <label for="serviceIcon" class="form-label">Service Icon</label>
        <input type="file" id="serviceIcon" class="form-control" (change)="onFileSelect($event)">
      </div> -->
      <!-- <button class="btn btn-primary" (click)="updateService()">Save changes</button> -->
       <!-- Submit Button -->
  <div style="text-align:center; margin-top: 15px; margin-bottom: 10px;">
    <button
    class="btn btn-primary" style="white-space: nowrap; background-color: #cf3339 !important;"
    (click)="updateService()"
    >
      Submit
    </button>
  </div>
    </form>
  </div>
</div>



<div class="modal-container"  *ngIf="showModal">
  <div class=" modal-backdrop "  (click)="closeAddModal()" > </div>
    <div class="modal-content">
      <form [formGroup]="addServiceForm" (ngSubmit)="addService()">
      <div class="modal-header">
        <h5 class="modal-title" id="docTypeModalLabel">Add a new Service</h5>
        <button
        type="button"
        class="btn-close"
        (click)="closeAddModal()"
        aria-label="Close"
      ></button>
      </div>
   
      <!-- Modal Body -->
      <div class="form-group" style="padding: 6px 15px;">
          <label class="form-label" for="servicename">Enter new Service name<span class="required">*</span></label>
          <fieldset>
            <input
              type="text"
              id="servicename"
              name="servicename"
              class="form-control styled-input"
              placeholder="Enter service name"
              formControlName="serviceName"
              required
            />
          </fieldset>
        </div>
        <br>
        <div class="form-group" style="padding: 6px 15px;">
          <label class="form-label" for="description">Enter the description<span class="required">*</span></label>
          <fieldset>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control styled-input"
              placeholder="Enter service description"
              formControlName="description"
              required
            />
          </fieldset>
      </div>
      <br>

      <div class="form-group form-switch" style="padding: 6px 15px; display: flex; align-items: center;">
        <label  class="form-label" for="isActive">Is Active<span class="required">*</span></label>
        <input type="checkbox" id="isActive" class="form-control form-check-input ms-4" formControlName="isActive">
    </div>
    <br>
     


       
     
       <!-- Submit Button -->
  <div style="text-align:center; margin-top: 15px; margin-bottom: 10px;">
    <button
    class="btn btn-primary" style="white-space: nowrap; background-color: #cf3339 !important;"
      
    >
      Submit
    </button>
  </div>
</form>

    </div>
  
</div>