<div class="content">
    <div class="page-heading">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto mb-2">
              <h2>Roles</h2>
            </div>
            <div class="col-auto mb-2">
              <a class="btn btn-sm btn-light-primary">
                <i class="fa-solid fa-plus"></i> New Role
              </a>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto mb-2 mt-2">
              <div class="form-feild page-heading-search-field mb-0">
                <div class="field-icon">
                  <input
                    type="text"
                    class="form-control form-control-sm form-control-shadow"
                    placeholder="Search..."
                  />
                  <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="table-responsive overflow-behaviour">
      <table class="table table-list-data table-hover">
        <thead class="bg-light">
          <tr>
            <th scope="col">
              <b>Role</b> &#x2191;&#x2193;
            </th>
            <th scope="col">
              <b>Status</b> &#x2191;&#x2193;
            </th>
            <th scope="col">Updated On</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Admin</td>
            <td>
              <div class="form-check form-switch form-switch-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="Status_id1"
                  checked
                />
              </div>
            </td>
            <td>2024-10-14</td>
            <td class="text-end td-action-data">
              <div class="dropdown">
                <button
                  class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item cursor-pointer">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item cursor-pointer">View</a>
                  </li>
                  <li>
                    <a class="dropdown-item cursor-pointer">Delete</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
  
          <tr>
            <td>User</td>
            <td>
              <div class="form-check form-switch form-switch-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="Status_id2"
                />
              </div>
            </td>
            <td>2024-10-13</td>
            <td class="text-end td-action-data">
              <div class="dropdown">
                <button
                  class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item cursor-pointer">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item cursor-pointer">View</a>
                  </li>
                  <li>
                    <a class="dropdown-item cursor-pointer">Delete</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
  
          <tr>
            <td>Manager</td>
            <td>
              <div class="form-check form-switch form-switch-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="Status_id3"
                />
              </div>
            </td>
            <td>2024-10-12</td>
            <td class="text-end td-action-data">
              <div class="dropdown">
                <button
                  class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item cursor-pointer">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item cursor-pointer">View</a>
                  </li>
                  <li>
                    <a class="dropdown-item cursor-pointer">Delete</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  