<div class="content">
    <div class="page-heading">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto mb-2">
              <h2>Mail Management</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="table-responsive overflow-behaviour">
      <table class="table table-list-data table-hover">
        <thead class="bg-light">
          <tr>
            <th scope="col">Sender Name &#x2191;&#x2193;</th>
            <th scope="col">Email &#x2191;&#x2193;</th>
            <th scope="col">Company Name &#x2191;&#x2193;</th>
            <th scope="col">Incorporation Country &#x2191;&#x2193;</th>
            <th scope="col">Mobile Number &#x2191;&#x2193;</th>
            <th scope="col">Shareholder Count &#x2191;&#x2193;</th>
            <th scope="col">Actions &#x2191;&#x2193;</th>
            <th scope="col">Match Score &#x2191;&#x2193;</th>
          <th scope="col">Action &#x2191;&#x2193;</th>
         
          <th scope="col">KYC Status &#x2191;&#x2193;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mail of mailList">
            <td>{{ mail.firstName }} {{ mail.lastName }}</td>
            <td>{{ mail.email }}</td>
            <td>{{ mail.CompanyName }}</td>
            <td>{{ mail.CompanyIncorporated }}</td>
            <td>{{ mail.mobileNumber.internationalNumber }}</td>
            <td>{{ mail.shareholdercount }}</td>
            <td>
              <button (click)="openMailDetails(mail.shareholders)" class="btn btn-primary" style="white-space: nowrap;">View Shareholders</button>
            </td>
            <td>{{ mail.screeningDetails?.matchScore }}</td>
            <td>
              <button class="green-button" (click)="checkStatus(mail)" [disabled]="loadingStatuses[mail.LeadId]">
                <ng-container *ngIf="!loadingStatuses[mail.LeadId]">Check Status</ng-container>
                <ng-container *ngIf="loadingStatuses[mail.LeadId]">
                  <span class="spinner-border spinner-border-sm"></span> Loading...
                </ng-container>
              </button>
            </td>
            <td>{{ mail.CustomerStatus }}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="modal-container" *ngIf="showModal">
      <div class="modal-backdrop" (click)="closeModal()"></div>
      <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <h5 class="modal-title">Shareholder Details</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Shareholder Name</th>
              <th scope="col">Shareholder (%)</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Nationality</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of selectedMailDetails">
              <td>{{ detail.name }}</td>
              <td>{{ detail.shareholderPercentage }}%</td>
              <td>{{ detail.dob | date: 'yyyy-MM-dd' }}</td>
              <td>{{ detail.nationalityshareholder }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  