<!-- Common Loader -->
<div *ngIf="isLoading" class="global-loader">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="content">
    <div class="page-heading">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto mb-2">
              <h2>Mail Management</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="table-responsive overflow-behaviour">
      <table class="table table-list-data table-hover">
        <thead class="bg-light">
          <tr>
            <th scope="col">Sender Name &#x2191;&#x2193;</th>
            <th scope="col">Email &#x2191;&#x2193;</th>
            <th scope="col">Company Name &#x2191;&#x2193;</th>
            <th scope="col">Incorporation Country &#x2191;&#x2193;</th>
            <th scope="col">Mobile Number &#x2191;&#x2193;</th>
            <th scope="col">Shareholder Count &#x2191;&#x2193;</th>
            <th scope="col">Actions &#x2191;&#x2193;</th>
            <th scope="col">Match Score &#x2191;&#x2193;</th>
          <th scope="col">Action &#x2191;&#x2193;</th>
         
          <th scope="col">KYC Status &#x2191;&#x2193;</th>
          <th scope="col">View File &#x2191;&#x2193;</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mail of mailList">
            <td>{{ mail.leadWithDetails.FirstName }} {{ mail.leadWithDetails.LastName }}</td>
            <td>{{ mail.leadWithDetails.Email }}</td>
            <td>{{ mail.userDetails.CompanyName }}</td>
            <td>{{ mail.userDetails.CompanyIncorporated }}</td>
            <td>{{ mail.userDetails.mobileNumber.internationalNumber }}</td>
            <td>{{ mail.userDetails.shareholdercount }}</td>
            <td>
              <button  (click)="openMailDetails(mail.shareholders)" class="btn btn-primary" style="white-space: nowrap;">View Shareholders</button>
            </td>
            <td>{{ mail.screeningDetails?.matchScore }}</td>
            <td>
              <button class="green-button" (click)="checkStatus(mail)" [disabled]="isLoading">
                Check Status
              </button>
            </td>
            
            <td>{{ mail.CustomerStatus }}</td>
            <td>
              <button class="green-button" (click)="openFileModal(mail.additionalUploadedFiles)">
                View Files
              </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-container" *ngIf="showModal">
      <div class="modal-backdrop" (click)="closeModal()"></div>
      <div class="modal-content">
        <span class="close-btn" (click)="closeModal()">&times;</span>
        <h5 class="modal-title">Shareholder Details</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Shareholder Name</th>
              <th>Shareholder (%)</th>
              <th>Date of Birth</th>
              <th>Nationality</th>
              <!-- <th>Files</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of selectedMailDetails">
              <td>{{ detail.name }}</td>
              <td>{{ detail.shareholderPercentage }}%</td>
              <td>{{ detail.dob | date: 'yyyy-MM-dd' }}</td>
              <td>{{ detail.nationalityshareholder }}</td>
              <!-- <td>
                <button class="green-button" (click)="openFileModal(detail.files)">
                  View Files
                </button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    

    <div class="modal-container" *ngIf="showFileModal">
      <div class="modal-backdrop" (click)="closeFileModal()"></div>
      <div class="modal-content">
        <span class="close-btn" (click)="closeFileModal()">&times;</span>
        <h5 class="modal-title">Uploaded Files</h5>
        <div *ngIf="selectedFiles.length > 0; else noFiles">
          <div class="file-list">
            <div class="file-item" *ngFor="let file of selectedFiles">
              <div class="file-details">
                <p class="file-name"><strong>Name:</strong> {{ file.name }}</p>
                <p class="file-type"><strong>Type:</strong> {{ file.type }}</p>
              </div>
              <div class="file-actions">
                <a [href]="file.url" target="_blank" class="view-link">View File</a>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noFiles>
          <p class="no-files">No files available for this mail.</p>
        </ng-template>
      </div>
    </div>
    

  </div>
  