<div class="login-page">
    <div class="login-tag">BeYour<br />OwnBoss</div>
    <div class="login-content">
      <div class="logo">
        <a href="#">
          <img src="https://res.cloudinary.com/dvekmmxxx/image/upload/v1718347384/photo_2024-06-14_11-46-14-removebg-preview_bml8en.png"
            alt="Logo" class="d-block" />
        </a>
      </div>
  
      <!-- NEW PASSWORD FORM -->
      <div>
        <h2>Please Enter New Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-field" style="position: relative;">
            <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password" required />
          </div>
          <div class="form-field" style="position: relative;">
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password"
              required />
          </div>
          <button type="submit" class="btn w-100 mt-4" style="color: #ffffff !important; background-color: #ff0000;">
            SUBMIT
          </button>
        </form>
      </div>
    </div>
  </div>
  