<div class="loader-container" *ngIf="isLoading">
  <div class="loader"></div>
</div>

<body class="pt-0">
    <section class="login_section">
        <div class="wrapper position-relative">
          <div class="logo">
            <img src="assets/images/vz_logo.png" style="max-width: 21%;" alt="" class="d-md-block d-none">
          </div>
          <div class="row align-items-center g-lg-0 g-md-4 g-0 h-100">
            <div class="col-md-6 position-relative h-100 order-md-0 order-1">
              <div class="image">
                <picture>
                  <source media="(max-width: 767px)" srcset="assets/customer_protal/images/login_img_sm.jpg">
                  <img loading="lazy" src="assets/customer_protal/images/login_img.jpg" alt="Prime Services" title="Prime Services">
                </picture>
                <h1>#BeYourOwnBoss</h1>
              </div>
            </div>
            <div class="col-md-6 h-100">
              <div class="form_wrp">
                <h2>Please Enter Your <br class="d-none d-md-block">New Password</h2>
                
                <form  [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                      <div class="form-field password">
                        <input [type]="passwordVisible ? 'text' : 'password'" class="form-control" formControlName="newPassword" placeholder="New Password" required>
                        <div class="icon" (click)="togglePasswordVisibility()">
                          <i *ngIf="!passwordVisible" class="fas fa-eye-slash pass-hide"></i>  <i *ngIf="passwordVisible" class="fas fa-eye pass-show "></i> </div>
                      </div>
                      <div class="form-field password">
                        <input [type]="passwordVisible2 ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password" required>
                        <div class="icon" (click)="togglePasswordVisibility2()">
                          <i *ngIf="!passwordVisible2" class="fas fa-eye-slash pass-hide"></i>  <i *ngIf="passwordVisible2" class="fas fa-eye pass-show "></i> </div>
                      </div>
                 
                  <button type="submit" style="position: relative;" class="btn w-100">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>
