@media (max-width: 767px) {
    section.login_section .image {
        z-index: 0;
        height: 33rem;
    }
    section.login_section .form_wrp {
        padding: 10px 20px;
    }

    .login_section .form_wrp h2 {
        margin-bottom: 3opx;
    }
}