<div class="content">
  <div class="page-heading">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto mb-2">
            <h2>Product Risk Management</h2>
          </div>
          <div class="col-auto mb-2">
            <button class="btn btn-sm btn-light-primary" (click)="openAddModal()">
              <i class="fa-solid fa-plus"></i> New Product
            </button>
          </div>
        </div> 
      </div>
    </div>
  </div>

  <div class="table-responsive overflow-behaviour">
    <table class="table table-list-data table-hover">
      <thead class="bg-light">
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Risk</th>
          <th>Currency</th>
          <th>Discount%</th>
          <th>VAT%</th>
          <th>Total Price</th>
          <th>Total Price(VAT)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.unitPrice }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.risk }}</td>
          <td>{{ product.currencyName }}</td>
          <td>{{ product.discount }}%</td>
          <td>{{ product.vat }}%</td>
          <td>{{ product.currencyName }} {{ product.totalPrice  | number:'1.2-2' }}</td>
          <td>{{ product.currencyName }} {{ product.totalPriceVat  | number:'1.2-2' }}</td>
          <td class="text-end td-action-data">
            <div class="dropdown">
              <button class="btn btn-icon btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" (click)="openEditModal(product)">Edit</button>
                </li>
                <li>
                  <button class="dropdown-item" (click)="deleteProduct(product._id)">Delete</button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal content -->
<div class="modal-container" *ngIf="isEditModalOpen">
  <div class="modal-backdrop" (click)="closeEditModal()"></div>
  <div class="modal-content">
   <div class="modal-header" style="padding: 0;">
    <h5 class="modal-title">{{ isAddingNew ? 'Add' : 'Edit' }} Product</h5>
    <button
    type="button"
    class="btn-close"
    (click)="closeEditModal()"
    aria-label="Close"
  ></button>
   </div>
    <form [formGroup]="editProductForm">
      <div class="form-group" style="padding: 6px 15px;">
        <label class="form-label">How many products need to be added?</label>
        <div class="dropdown-container">
          <select class="form-control" formControlName="productCount" (change)="onProductCountChange($event)">
            <option *ngFor="let count of productCountOptions" [value]="count">{{ count }}</option>
          </select>
          <i class="fa fa-chevron-down dropdown-icon"></i>
        </div>
      </div>
      
      <!-- Dynamic product fields in two rows -->
      <div formArrayName="products" style="padding: 6px 15px;">
        <div *ngFor="let product of dynamicProducts.controls; let i = index" [formGroupName]="i" class="dynamic-fields">
          <!-- Row 1: Product Name, Description -->
          <div class="form-group half-width">
            <label class="form-custom">Product Name {{ i + 1 }}<span class="required">*</span></label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group half-width">
            <label class="form-custom">Description</label>
            <input type="text" class="form-control" formControlName="description">
          </div>

          <div class="form-group half-width">
            <label class="form-custom">Currency<span class="required">*</span></label>
            <select class="form-control" formControlName="currencyName">
              <option *ngFor="let currency of currencies" [value]="currency.currencyName">
                {{ currency.currencyName }}
              </option>
            </select>
          </div>
          

          <div class="form-group half-width">
            <label class="form-custom">Quantity<span class="required">*</span></label>
            <input type="number" class="form-control" formControlName="quantity">
          </div>
          <!-- Row 2: Unit Price, Quantity, Risk -->
          <div class="form-group half-width">
            <label class="form-custom">Unit Price<span class="required">*</span></label>
            <input type="number" class="form-control" formControlName="unitPrice">
          </div>
     
          <div class="form-group">
            <label class="form-custom">Risk<span class="required">*</span></label>
            <div class="dropdown-container">
              <select class="form-control" formControlName="risk">
                <ng-container *ngFor="let risk of riskList">
                  <option *ngIf="risk.isActive" [value]="risk.name">
                  {{ risk.name }}
                </option>
                </ng-container>
              </select>
              <i class="fa fa-chevron-down dropdown-icon"></i>
            </div>
          </div>

          <div class="form-group half-width">
            <label class="form-custom">Discount</label>
            <input type="number" class="form-control" formControlName="discount" >
          </div>

          <div class="form-group half-width">
            <label class="form-custom">VAT</label>
            <input type="number" class="form-control" formControlName="vat" readonly>
          </div>

          <div class="form-group half-width">
            <label class="form-custom">Total Price</label>
            <input type="number" style="background: none;" class="form-control" formControlName="totalPrice" readonly>
          </div>

          <div class="form-group half-width">
            <label class="form-custom">Total Price-VAT</label>
            <input type="number" style="background: none;" class="form-control" formControlName="totalPriceVat" readonly>
          </div>
          
        </div>
      </div>
      <div style="text-align:center; margin-top: 15px; margin-bottom: 10px;">
        <button class="btn btn-primary custom-button" (click)="saveProduct()">
          
          {{ isAddingNew ? 'Add Product' : 'Update Product' }}<i class="fa-solid" [ngClass]="isAddingNew ? 'fa-plus' : 'fa-check'"></i>
        </button>
      </div>
     
    </form>
  </div>
</div>
